asgiref==3.8.1
dj-database-url==2.3.0
dj-static==0.0.6
Django==4.2.21
django-bootstrap-form==3.4
django-storages==1.14.4
pillow==11.1.0
psycopg==3.2.3
python-dateutil==2.9.0
python-decouple==3.8
reportlab==4.2.5
setuptools==75.6.0
six==1.17.0
sqlparse==0.5.3
static3==0.7.0
typing_extensions==4.12.2
tzdata==2024.2
