{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Formulário de registro{% endblock %}

{% block main %}
    <h3>Novo usuário</h3>
    <form method="post">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <p>Se você já possui uma conta e deseja fazer o <a href="/accounts/login">login</a></p>
    </form>
{% endblock %}


{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 2.2</span>
        </div>
    </footer>
{% endblock %}
