{% extends 'base.html' %}

{% block title %} Detalhes sobre cliente {% endblock %}

{% block main %}

<div class="col-8">
<a href="{% url 'client_new' %}" class="btn btn-primary">Novo cliente</a>
<a href="{% url 'client_list' %}" class="btn btn-info">Retornar para tabela</a>
</div>

<div class="col-12">
<h1>Informações sobre o cliente</h1>
<p><b>Nome e sobrenome:</b> {{client.first_name}} {{ client.last_name }}</p>
<table class="table">
         <tbody>
         <tr>
             <td>Código:</td>
             <td>
                 <label>{{client.id}}</label>
             </td>
         </tr>
         <tr>
             <td>Nome:</td>
             <td>
                 <label>{{client.first_name}}</label>
             </td>
         </tr>
          <tr>
             <td>Sobrenome:</td>
             <td>
                 <label>{{client.last_name}}</label>
             </td>
         </tr>
         <tr>
             <td>Idade:</td>
             <td>
                 <label>{{client.age}}</label>
             </td>
         </tr>
          <tr>
             <td>Salário:</td>
             <td>
                 <label>{{client.salary}}</label>
             </td>
         </tr>
         <tr>
             <td>Biografia:</td>
             <td>
                 <label>{{client.biography}}</label>
             </td>
         </tr>
         <tr>
             <td>Imagem:</td>
             <td>
                 <label><a href=/media/{{client.photo}} target="_blank">Visualizar</a></label>
             </td>
         </tr>
         <tbody>
     </table>
</div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 4.x</span>
        </div>
    </footer>
{% endblock %}
