{% extends 'base.html' %}

{% block title %} Listagem de clientes {% endblock %}

{% block main %}

<div class="col-12">
<h3>Clientes</h3>
    <a href="{% url 'person_new' %}" class="btn btn-primary">Novo cliente</a>
<form method="GET" id="search-form">
<div class="form-group"><h5>Pesquisa</h5></div>
<div class="form-group">
    <input type="search" class="form-control" id="search" name="search" placeholder="Digite o nome do cliente para buscar" value="{{ request.GET.search }}">
</div>
<div class="form-group">
<button type="submit" class="btn btn-success">
      <i class="fa fa-search"></i> Pesquisar
</button>
</div>
</form>
<table class="table table-light">
         <thead>
         <tr>
             <th scope="col">Id</th>
             <th class="col">Primeiro nome</th>
             <th class="col">Sobrenome</th>
             <th class="col">Salário</th>
             <th class="col">Editar</th>
             <th class="col">Apagar</th>
             <th class="col">Detalhes</th>
         </tr>
         </thead>
         {% for person in persons %}
         <tbody>
            <tr>
                <td scope="row">{{person.id}}</td>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.salary}}</td>
                <td>
                    <button type="submit" class="btn btn-warning" onclick="location.href='{% url 'person_update' person.id %}'">
                       Editar
                   </button>
                </td>
                <td>
                   <button type="submit" class="btn btn-danger" onclick="location.href='{% url 'person_delete' person.id %}'">
                       Delete
                   </button>
                </td>
                <td>
                   <button type="submit" class="btn btn-info" onclick="location.href='{% url 'person_detail' person.id %}'">
                       Detalhes
                   </button>
                </td>
            </tr>
         <tbody>
          {% empty %}
            <tr>
            <td colspan="7" style="text-align: center">
              <h5>Nenhum cliente cadastrado</h5>
            </td>
          </tr>
         </tfoot>
         {% endfor %}
     </table>
</div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 4.2</span>
        </div>
    </footer>
{% endblock %}
