{% extends 'base.html' %}

{% block title %} Listagem de clientes {% endblock %}

{% block main %}

<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
        <p>Olá, {{user.username}}
        <a href="{% url 'logout' %}">
            <span class="badge badge-dark">Sair</span>
        </a>
        </p>
        {% endif %}
</div>
    <div class="col-12">
    <table class="table">
         <thead>
         <tr>
             <th scope="col">Id</th>
             <th scope="col">Nome</th>
             <th scope="col">Sobrenome</th>
             <th scope="col">Idade</th>
             <th scope="col">Salário</th>
             <th scope="col">Biografia</th>
             <th scope="col">Editar</th>
             <th scope="col">Apagar</th>
         </tr>
         </thead>
         {% for person in persons %}
         <tbody>
            <tr>
                <td scope="row">{{person.id}}</td>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.salary}}</td>
                <td>{{person.biography}}</td>
                <td>
                    <button type="submit" class="btn btn-warning" onclick="location.href='{% url 'person_update' person.id %}'">
                       Editar
                   </button>
                </td>
                <td>
                   <button type="submit" class="btn btn-success" onclick="location.href='{% url 'person_delete' person.id %}'">
                       Delete
                   </button>
                </td>
            </tr>
         <tbody>
         {% endfor %}
     </table>
    <a href="{% url 'person_new' %}" class="btn btn-primary">Novo cliente</a>
</div>
</div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 2.x</span>
        </div>
    </footer>
{% endblock %}
