{% extends 'base.html' %}

{% block title %}Tabela de produtos{% endblock %}

{% block main%}

<div class="col-12">
    <h3>Produtos</h3>
    <form method="GET" id="search-form">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do produto para buscar" value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success">
           <i class="fa fa-search"></i> Pesquisar
        </button>
        </form>
     <table class="table table-light">
         <thead>
         <tr>
             <th scope="col">Id</th>
             <th scope="col">Name</th>
             <th scope="col">Descrição</th>
             <th scope="col">Preço</th>
             <th scope="col">Categoria</th>
             <th scope="col">Editar</th>
             <th scope="col">Apagar</th>
         </tr>
         </thead>
         {% for product in product %}
         <tbody>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>
                    <button type="submit" class="btn btn-warning" onclick="location.href='{% url 'product_update' product.id %}'">
                       Editar
                   </button>
                </td>
                <td>
                   <button type="submit" class="btn btn-danger" onclick="location.href='{% url 'product_delete' product.id %}'">
                       Delete
                   </button>
                </td>
            </tr>
            <tbody>
         <tfoot>
         {% empty %}
            <tr>
            <td colspan="7" style="text-align: center">
              <h5>Nenhum produto cadastrado</h5>
            </td>
          </tr>
         </tfoot>
         {% endfor %}
     </table>
     <a href="{% url 'product_new' %}" class="btn btn-primary">Novo produto</a>
     <a href="{% url 'category_new' %}" class="btn btn-primary">Nova categoria</a>
</div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 2.2</span>
        </div>
    </footer>
{% endblock %}
