{% extends 'base.html' %}

{% block title %} Detalhes sobre produto {% endblock %}

{% block main %}

<div class="col-8">
<a href="{% url 'product_new' %}" class="btn btn-primary">Novo produto</a>
<a href="{% url 'product_list' %}" class="btn btn-info">Retornar para tabela</a>
</div>

<div class="col-12">
    <h1>Detalhes de produto</h1>
    <p><b>Nome:</b> {{ product.name }}</p>
    <p><b>Categoria do produto:</b> {{ product.category.name }}</p>
<table class="table">
         <tbody>
         <tr>
             <td>Código:</td>
             <td>
                 <label>{{product.id}}</label>
             </td>
         </tr>
         <tr>
             <td>Nome:</td>
             <td>
                 <label>{{product.name}}</label>
             </td>
         </tr>
         <tr>
             <td>Preço:</td>
             <td>
                 <label>R${{product.price}}</label>
             </td>
         </tr>
          <tr>
             <td>Categoria:</td>
             <td>
                 <label>{{product.category}}</label>
             </td>
         </tr>
         <tr>
             <td>Fornecedor:</td>
             <td>
             <label>
			 <a href="{% url 'supplier-detail' product.supplier.id %}">
			  {{product.supplier.name}}
			 </a>
			 </label>
             </td>
         </tr>
         <tr>
             <td>Descrição:</td>
             <td>
                 <label>{{product.description}}</label>
             </td>
         </tr>
         <tr>
             <td>Quantidade:</td>
             <td>
                 <label>{{product.quantity}}</label>
             </td>
         </tr>
         <tbody>
     </table>
</div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 2.x</span>
        </div>
    </footer>
{% endblock %}
